@font-face {
    font-family: Autography;
    src: url(../font/Productive\ Day.otf);
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #0E1117;
}

/*Cabeçalho*/
header{
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    background-color: #1b553c;
}

.links{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

header a{
    font: normal 16pt Arial;
    color: rgba(255, 255, 255, 0.767);
    text-decoration: none;
}


/*conteudo*/
.conteudo{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 550px;
}

.conteudo span{
    color: rgba(255, 255, 255, 0.767);
    scale: 400%;
    margin-left: 4%;
    margin-right: 4%;
}

.conteudo h1{
    width: 100%;
    margin-bottom: 2%;
    color: rgba(255, 255, 255, 0.767);
    font: normal 30pt Arial;
}

.sobre{
    color: rgba(255, 255, 255, 0.767);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 2em 4em 2em 4em;
}

.sobre p{
    font-size:larger;
    text-align: justify;
}


/*Rodapé*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    background-color: #1b553c;
}

.assinatura{
    font-family: Autography;
    font-size: 14pt;
    text-decoration:bold ;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 960px){

    .links{
        width: 600px;
    }

    .conteudo{
        height: 700px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){

    .links{
        width: 250px;
    }

    header a{
        font-size: 17px;
    }

   .conteudo{
    width: 90%;
    height: 800px;
    margin-top: -4%;
   }

   .conteudo span{
    scale: 200%;
   }

   .conteudo h1{
    font-size: 18pt;
   }

   .sobre{
    display: flex;
    flex-direction: column;
    padding: 0em 2em 1em 2em;
   }

   .sobre p{
    font-size: medium;
    text-align:left;
   }
}