@font-face {
    font-family: Autography;
    src: url(../font/Productive\ Day.otf);
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #0E1117;
}

/*Cabeçalho*/
header{
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    background-color: #1b553c;
}

.links{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

header a{
    font: normal 16pt Arial;
    color: rgba(255, 255, 255, 0.767);
    text-decoration: none;
}


/*Corpo*/
.corpo{
    width: 100%;
}


/*Texto Intro*/
.texto-intro{
    width: 100%;
    margin-top: 300px;
    text-align: center;
}

.intro{
    font: normal 40pt Arial;
    color: white;
}

span{
    text-decoration: underline;
    color: orangered;
}


/*Fundo Verde*/
.conteiner-verde{
    background-color: #1b553c;
    margin-top: 25%;
    width: 90%;
    height: 500px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.tecnologia{
    border-radius: 5ch;
    background-color: #0E1117;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.box{
    display: flex;
}

.circulo{
    background-color: white;
    margin-top: 20px;
    border-radius: 50%;
    padding: 12px;
    vertical-align: top;
}

#icon-python, #icon-django, #icon-mysql{
    font-size: 2em;
    color: #1b553c;
}

.titulo {
    text-align: center;
    color: #1b553c;
    font-size: 2em; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 20px;
}

.texto {
    text-align: justify;
    font: normal 13pt Arial;
    color: rgba(255, 255, 255, 0.767);
    padding: 5%;
}


/*Minhas Tecnologias*/

.minhas-tecs{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.minhas-tecs h3{
    font: bold 2em Arial;
    color: rgba(255, 255, 255, 0.767);
}

.tecs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 450px;
    margin-top: 3%;
}

.caixa{
    margin-right: 10%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color:  rgba(255, 255, 255, 0.767);
    color: rgba(255, 255, 255, 0.767);
    transition: color 0.4s ease, border-color 0.5s ease;
}

.caixa:hover{
    border-color: #1b553c;
    color: #1b553c;
}

.devicon-c-plain,
.devicon-python-plain,
.devicon-django-plain,
.devicon-html5-plain, 
.devicon-css3-plain, 
.devicon-javascript-plain,
.devicon-git-plain, 
.devicon-github-plain,
.devicon-mysql-plain{
    font-size: 2.5em;
}

/*Rodapé*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #1b553c;
}

.assinatura{
    font-family: Autography;
    font-size: 14pt;
    text-decoration:bold ;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 960px){

    .links{
        width: 600px;
    }

    .tecnologia{
        margin-right: 30px;
        height: 370px;
    }

    .titulo{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){

    .links{
        width: 250px;
    }

    header a{
        font-size: 17px;
    }

    .texto-intro{
        margin-top: 200px;
        margin-bottom: 250px;
    }

    .intro{
        font-size: 16pt;
    }

    .conteiner-verde{
        flex-direction: column;
        height: 1000px;
        width: 100%;
        padding: 5% 0% 5% 0%;
    }

    .tecnologia{
        height: 300px;
        width: 250px;
    }

    .texto{
        font-size: 12pt;
    }
    
    .minhas-tecs h3{
        font-size: 1.5em;
        text-align: center;
    }

    .tecs{
        width: 370px;
        margin-top: 1.5%;
    }

    .caixa{
        height: 70px;
        height: 70px;
    }
}